body {
    margin: 0 auto;
    width: 1920px;
    height: 1080px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #F4F1BB;
    color: #432818;
}

ul, li {
    list-style-type: none;
}

#ConfirmButton {
    margin-left: 88pt;
}

#MiddleZone {
    margin-left: 10em;
}

#TopZone {
    margin-left: 6em;
}

#header, #footer {
    margin: 0 auto;
    text-align: center;
}

#modes {
    display: flex;
    justify-content: center;
}

#help_icon, #change_icon {
    width: 80px;
    height: 80px;
}

.botao-pagamento {
    border-radius: 10px;
    width: 44pt;
    padding-top: 4pt;
    margin-left: 6px;
}

.botao-alterar {
    border-radius: 10px;
    width: 50pt;
    margin-left: 4px;
}

#Pagamento, #Cancelar, #Ajuda, #Alterar {
    border-style: solid;
    border-color: #432818;
}

#ementaIndividual, #ementaGrupo {
    display: none;
}

#Center {
    margin: 80px 0px 0px 0px;
}

#Widgets {
    float: left;
}

#Arrows {
    margin-top: 15pt;
    border-spacing: 15pt;
    width: 50%;
}

.cancelar-text, .ajuda-text {
    text-align: center;
    font-size: 24pt;
}

.ajuda-text {
    padding-top: 12pt;
}

.botao-cancelar {
    border-radius: 10px;
    margin-left: 4px;
    width: 50pt;
    height: 50pt;
}

.botao-confirmar {
    border-radius: 10px;
    width: 50pt;
    height: 50pt;
    margin-left: 10pt;
}

.meal-pic {
    width: 100px;
    height: 100px;
}

.botao_modo_img {
    width: 100%;
}

.botao_ajuda, .botao_alterar {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    width: 500px;
    height: 100px;
}

.botao_pagamento {
    margin: 0 auto;
    padding-left: 4px;
    display: flex;
    justify-content: flex-start;
    width: 500px;
    height: 100px;
}

.botao_ajuda_legenda, .botao_pagamento_legenda, .botao_alterar_legenda {
    margin-left: 20px;
    line-height: 80px;
    justify-content: center;
    font-size: 40px;
}

.botao_modo {
    border-radius: 10px;
    border-style: solid;
    margin: 50px 100px 50px 100px;
    width: auto;
    float: left;
}

.botao_modo_legenda {
    border-radius: 10px;
    margin: 0 auto;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    text-align: center;
    font-size: 30px;
}

.arrow {
    border-style: none;
    width: 100pt;
    height: 60pt;
}

.arrowpad {
    width: 100pt;
    height: 60pt;
}

h1 {
    font-size: 80px;
    text-align: center;
}

ul.SteppedProgress {
    margin: auto;
    overflow: hidden;
    padding: 0;
}

.SteppedProgress li {
    list-style-type: none;
    color: #404142;
    line-height: normal;
    flex: 1;
    font-size: 22px;
    position: relative;
    padding: 0 2%
}

.SteppedProgress li:before {
    content: attr(id);
    width: 200px;
    height: 80px;
    line-height: 80px;
    display: block;
    font-size: 25px;
    color: #FFF;
    background: #797a79;
    margin: 0 auto 10px;
    position: relative;
    z-index: 1
}

.SteppedProgress li:after {
    content: '';
    width: 100%;
    height: 6px;
    background: rgba(121, 122, 121, 0.6);
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1
}

.SteppedProgress li.complete:before {
    background: #62d689;
    color: white
}

.SteppedProgress li.complete:after {
    background: rgba(98, 214, 137, 0.6)
}

.SteppedProgress li.current:before {
    background: #2f5eaa;
    color: white
}

.SteppedProgress li.current:after {
    background: rgba(98, 214, 137, 0.6)
}

.SteppedProgress li.passed:before {
    background: #E5B12F;
    color: white
}

.SteppedProgress li.passed:after {
    background: rgba(229, 177, 47, 0.6)
}

ul.SteppedProgress.Vertical {
    display: block
}

.SteppedProgress.Vertical li {
    flex: none;
    clear: both;
    text-align: left;
    padding: 0;
    margin-left: 10;
    min-height: 7em
}

ul.SteppedProgress.Vertical li:before {
    float: none;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    margin-left: 0
}

.SteppedProgress.Vertical li:after {
    content: '';
    width: 6px;
    height: 100%;
    position: absolute;
    left: 100px;
    top: -50%;
    z-index: -1
}

.coluna-pedidos {
    float: left;
    width: 33%;
}

.coluna-botoes {
    display: inline-block;
    width: 33%;
}

.coluna-widgets {
    float: right;
    width: 33%;
}

.category-text {
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.meal-name {
    min-width: 585px;
    float: top;
    padding-left: 10pt;
    font-size: 18pt;
    font-style: strong;
}

.meal-pic {
    display: inline-block;
}

.ementa-entry {
    margin-left: 10pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.recomendacao-entry {
    margin-left: 10pt;
    margin-top: 10pt;
    padding-top: 10pt;
    padding-left: 10pt;
    min-width: 400pt;
}

h4 {
    font-size: 25px;
}

.ementa {
    border-radius: 10px;
    width: 600pt;
    height: 400pt;
    border-style: solid;
    display: inline;
    overflow: auto;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 40pt;
}

.pedidoconfirmado {
    border-radius: 10px;
    min-width: 400pt;
    min-height: 500pt;
    border-style: solid;
    display: inline;
    overflow: auto;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 40pt;
}

.widgets {
    border-radius: 10px;
    width: 400pt;
    height: 500pt;
    border-style: solid;
    display: inline;
    overflow: auto;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 40pt;
}

.confirm {
    border-radius: 10px;
    float: left;
    width: 600pt;
    height: 400pt;
    border-style: solid;
    display: inline-block;
    overflow: inherit;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 40pt;
    margin-bottom: 0pt;
}

.recomendacoes {
    border-radius: 10px;
    float: left;
    width: 600pt;
    height: 120pt;
    border-style: solid;
    display: inline-block;
    overflow: auto;
    margin-top: 15pt;
    margin-left: 72pt;
    margin-right: 100pt;
}

.recomendacoes_fix {
    border-radius: 10px;
    float: left;
    width: 600pt;
    height: 120pt;
    display: inline-block;
    overflow: auto;
    margin-top: 15pt;
    margin-left: 72pt;
    margin-right: 100pt;
}

.botoespos {
    border-radius: 10px;
    float: left;
    width: 280pt;
    height: 120pt;
    display: inline-block;
    margin-top: 15pt;
    margin-right: 20pt;
}

.botoespos2 {
    border-radius: 10px;
    width: 280pt;
    float: left;
    display: inline-block;
    margin-top: 15pt;
    margin-right: 20pt;
}

.plusSign {
    float: right;
    width: 60pt;
    height: 60pt;
}

.minusSign {
    margin-left: 10pt;
    width: 15pt;
    height: 15pt;
    line-height: 15pt;
    vertical-align: middle;
}

#ementa, #ProgressBar {
    float: left;
}

#ProgressBar {
    width: 100%;
}

#ementa {
    width: 50%;
}

#PedidoRealizado {
    border-radius: 10px;
    float: left;
    width: 200px;
    height: 700px;
    overflow: auto;
    border-style: solid;
}

#Pedido {
    border-radius: 10px;
    overflow: auto;
    float: right;
    width: 320pt;
    height: 400pt;
    border-style: solid;
    margin-top: 40pt;
    margin-left: 50pt;
}


/** Menu Customizacao **/

.ingredientes {
    border-radius: 10px;
    float: left;
    width: 700pt;
    height: 500pt;
    border-style: solid;
    display: inline-block;
    overflow: auto;
    margin-top: 45pt;
    margin-left: 72pt;
    margin-right: 50pt;
}

.option-pic {
    width: 160pt;
    height: 160pt;
    margin-left: 10pt;
}

.option-name {
    width: 160pt;
    height: 30pt;
    text-align: center;
}

.ingredientes_escolhidos {
    border-radius: 10px;
    float: left;
    width: 280pt;
    height: 390pt;
    border-style: solid;
    display: inline-block;
    overflow: auto;
    margin-top: 20pt;
}

.prato {
    border-radius: 10px;
    float: left;
    width: 700pt;
    height: 200pt;
    border-style: dashed;
    display: inline-block;
    overflow: auto;
    margin-top: 15pt;
    margin-left: 72pt;
    margin-right: 100pt;
}


/** star rating **/

.starDiv {
    width: 10pt;
    height: 10pt;
    margin: 5px 10px 5px 10px;
}

.starDiv-big {
    width: 18pt;
    height: 18pt;
    margin: 5px 10px 5px 10px;
}

.confButton {
    border-radius: 10px;
    border-style: solid;
    margin: 5px 10px 5px 10px;
}

.confText {
    font-size: 14pt;
    margin: 2pt 4pt 0pt 4pt;
}

.rate {
    display: inline-block;
    color: black;
    cursor: pointer;
}

.rate:hover {
    color: yellow;
}

.rate-item {
    float: left;
    font-size: 30px;
    cursor: pointer;
    margin: 5px 10px 5px 10px;
}

.rate-item:hover~.rate-item {
    color: black;
}

#ProgressBar {
    width: 20%;
}

.confirm-icon {
    width: 50pt;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.choice-btn-yes {
    font-size: 30px;
    margin-left: 47%;
}

.choice-btn-no {
    font-size: 30px;
}

.botao_custom {
    min-height: 80pt;
}

.input-btn {
  min-width: 40pt;
  font-size: 30px;
  margin-left:40pt;
  margin-bottom:5pt;
}

.input-box {
  border-style: solid;
  width: 300px;
  height: 48px;
  margin-left: 190px;
  margin-top:10pt;
  font-size: 20pt;
  text-align: center;
}

.cartao-box {
  border-radius:15px;
  border-style: dashed;
  width: 250px;
  height: 350px;
  margin-left:200pt;
  margin-top:10pt;
  font-size: 20pt;
  text-align: center;
}


.pay-img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.cartao-img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 40px;
}

.cartao-escolhido {
  border-style: solid;
}
.color-box{
  margin-left:5pt;
  border-radius:5px;
  border-style:solid;
  width:40px;
  height:40px;
}
.mesa-bigBox{
  border-style:solid;
  width:226px;
  height:60px;
}
.mesa-box{
  margin:10px 10px 10px 10px;
  border-radius:5px;
  border-style:solid;
  width:110px;
  height:50px;
}
